
/* user default settings */
h1, h2, h3, h4, p {
    margin: 0px 0px;
    padding: 0px 0px; 
   
}

ul, ol {
    margin: 0px 0px;
    padding: 0px 0px; 
}

img {display: block;}

/* variables */
:root {
--main-text-color: color: #212121;
--primery-text-color: #757575;
--additional-text-color: #FFFFFF;
--brand-color: #2196F3;
--brand-color-studio: #000000;
--brand-color-footer: #FFFFFF;
--main-background-color: #FFFFFF;
--footer-background-color: #2F303A;
}

/*common text-color + fonts*/

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--main-background-color);  
}

a, 
.body-nomaker-ul ul {
    list-style: none;
    text-decoration: none;
}

.section-title{
    text-align: center;

    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;    
}

.visaully-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
        
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

/*logo color+font styles*/

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-brand-color {
    color: var(--brand-color);
}

.logo-studio-header {
    color: var(--brand-color-studio);
}

.logo-studio-footer {
    color: var(--brand-color-footer);
}

/*links color+font styles*/

.links-nav {
    display: inline-block;

    padding: 32px 0px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.links-nav.current,
.links-nav:hover, 
.links-nav:focus,
.links-contact:hover,
.links-contact:focus,
.links-footer-contact:hover,
.links-footer-contact:focus {
    color: var(--brand-color)
}

.links-contact {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);

    padding: 30px 0px;
}


/* common selectors positionising */

.container {
    width: 1200px;  
    margin-right: auto;
    margin-left: auto;

    padding: 0px 15px;
}

.section { 
    padding-top: 94px;
    padding-bottom: 94px;
}

/*===========INDEX PAGE=============*/

/*section header */

.header {
    border-bottom: solid 1px #ECECEC;
}

.header-container {
    display: flex;
}

.logo-header {   
    padding: 24px 0px 25px 0px;
    margin-right: 93px;
}

.navigation {
    display: flex; 
    margin-right: 318px;
}

.navigation-pages {
    display: flex;
    align-items: center;    
}

.pages-item:not(:last-child) {
    margin-right: 50px;    
}

.filter-item:hover,
.filter-item:focus {
    box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.contacts {
    display: flex;
    margin-left: auto;
}

.contacts-item:not(:last-child) {
    margin-right: 30px;
}

.contacts-svg {
    margin-right: 10px;
}

.contacts-icon {
    fill: var(--primery-text-color);
}

.links-contact:hover .contacts-icon,
.links-contact:focus .contacts-icon {
    fill: var(--brand-color);

}

/* section hero */

.hero {
    background-color: #2F303A;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 200px 0px;  
    text-align: center;
}

   

.office {
    background-image: linear-gradient(  
        rgba(47, 48, 58, 40%),rgba(47, 48, 58, 40%)),
        url(../images/office.png);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-item {
    max-width: 696px;  
         
}

.hero-info {
    margin-bottom: 30px;

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--additional-text-color)
}

.button-hero {
    padding: 10px 32px;

    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: #FFFFFF;   
}

.button-hero:hover, 
.button-hero:focus {
    cursor: pointer;
    background-color: #188CE8;
}

/* section advantages */

.advantages-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}
.advantages-item {  
    width: 270px;
}

.advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;

    margin-bottom: 30px;
}

.advantages-title {
    margin-bottom: 10px;

    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
}

.advantages-description {
    line-height: 1.71;
    color: var(--primery-text-color);
}

/* section development */
.section.development {
    padding-top: 0px;
}

.development-title {
    margin-bottom: 50px;
}

.development-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.development-item {
    width: 370px;   
}

/* section team */

.team {
    background-color: #F5F4FA;
}

.person-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;   
    
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;

}

.person-item {
    width: 270px; 

    border-radius: 0px 0px 4px 4px;

    background-color: var(--main-background-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.person-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    padding: 30px 10px;
}

.person-name {
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
}

.person-tasks {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primery-text-color);  

    margin-bottom: 15px;
}

.social-list {
    display: flex;
    justify-content: space-between;   
}


.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
   
   

    
}
.social-item:not(:last-child) {
    margin-right: 10px;
}


.social-reference {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    padding: 12px;


    border: none;
    border-radius: 50%;
}

.social-icon{
    fill: #AFB1B8;
}


.social-reference:hover .social-icon,
.social-reference:focus .social-icon {
    fill: var(--additional-text-color);
}

.social-reference:hover,
.social-reference:focus  {
    background-color: var(--brand-color);
}

/* section clients */

.client-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    /* при переполнении контейнера - не работает */
    flex-basis: calc((100% - 5 * 30px) / 6 );
    
}

.client-item {
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.client-reference {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    padding: 16px 32px;   
        
}

.client-icon {
    fill: #AFB1B8;
}

.client-reference:hover .client-icon,
.client-reference:focus .client-icon{
    fill: var(--brand-color);
}

.client-reference:hover,
.client-reference:focus {
    border: 1px solid var(--brand-color);
    outline: transparent;   
}

/* style footer */

footer {
    background-color: var(--footer-background-color)
}

.links-footer-addres {   
    color: var(--additional-text-color)
}

.links-footer-contact {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts {
    display: flex;
    flex-direction: column;

    margin-right: 93px;
}

.logo-footer {
    margin-bottom: 20px;
}

.adress {
    line-height: 1.71;
    font-style: normal;
}

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer {
    display: flex;
    align-items: baseline;

    padding: 60px 0px;
}

.style-join {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.social-icon-footer {
    fill: var(--brand-color-footer);    
}

.social-reference-footer {   
    background-color: rgba(255, 255, 255, 0.1);
}
.social-reference-footer:focus {
    outline: transparent;
}





/*===========PORTFOLIO-PAGE================*/

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;

}

.filter-container {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.button-portfolio {
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    cursor: pointer;

    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--main-text-color);   
}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--brand-color);
    color: #FFFFFF;
    
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item:hover,
.project-item:focus {
    outline: transparent;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-section {
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.project-item {
    display: flex;
    flex-direction: column;

    height: 100%;

    background-color: var(--main-background-color);
    color: var(--main-text-color);
} 

.project-info {
    padding: 20px 24px;

    border: 1px solid#EEEEEE;
    border-top: none;
}

.project-name {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primery-text-color);
}
