.root {
  --primery-text-color: rgba(117, 117, 117.1);
  --title-text-color: rgb(33, 33, 33);
}

/*загальні класи*/
.body-nomaker-ul ul {
    list-style-type: none;
}
.body-text {
    color: #212121;
    font-family: ;
}
.links {
    text-decoration: none;
    color: var(--primery-text-color);
    font-weight: normal;
    font-style: 16px;
}

.links:hover, 
.links:focus {
    color: #2196F3;
}

.links-contact {
    color: #757575;
    font-weight: normal;
    font-size: 14px;
}

.links-footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 14px;
}

.links-footer-addres {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;   
}
  
/*оформлення логотипів*/
.logo-blue {
    color: #2196f3;
    font-weight: bold;
    font-size: 26px;
}

.logo-black {
    color: #000000;
    font-weight: bold;
    font-size: 26px;
}

.logo-white {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 26px;
}

.h2 {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
}

/*головна сторінка*/
.main-hero {
    background-color: #2F303A;
}

.main-h1 {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: bold;
}

.button-order {
    background-color: #2196F3;
    color: #FFFFFF;
}
.main-preorities {

}

.main-title {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: bold;
}

.main-description {
    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: normal;
}

.photo {

}

.team {
    background-color: #F5F4FA;
}

.team-list {

}
.team-person {

}
.person-name {
    color: var(--title-text-color);
    font-weight: normal;
    font-style: 16px;
}

.person-tasks {
    color: var(--primery-text-color);
    font-size: 16px;
}

/*портфоліо*/
.button-portfolio {
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;  
}

.project-names {
    color: var(--title-text-color);
    font-weight: bold;
    font-style: 18px;
}

.project-type {
    color: var(--primery-text-color);
    font-size: 16px;
}

.footer {
    background-color: #2F303A;
}

.footer-address {
    font-style: normal;
}