h1, h2, h3, h4, p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

img {display: block;}

:root {
--main-text-color: color: #212121;
--primery-text-color: #757575;
--additional-text-color: #FFFFFF;
--brand-color: #2196F3;
--brand-color-studio: #000000;
--brand-color-footer: #FFFFFF;
--main-background-color: #FFFFFF;
--footer-background-color: #2F303A;
}

/*flex construction index-page*/

.global-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-box {
    display: flex;
    justify-content: center;

    width: 1600px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1200px;

    padding-top: 24px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.pages-container {
    display: flex;
    justify-content: space-between;

    width: 281px;
    padding-left: 0px;
    margin-left: 93px;
}

.pages-item {
    display: flex;

}

.contacts-container {
    display: flex;
    align-items: center;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contacts-item {
    padding-right: 50px;
}

.contacts-container .contacts-item:not(:first-child) {
    padding-right: 0px;
}

.hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 600px;
    background-color: #2F303A;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero-item{
    padding-bottom: 30px;
}

.hero-item:not(:first-child) {
    padding-bottom: 0px;
}

.company-box {
    display: flex;
    justify-content: center;

    width: 1600px;  
}

.benefits-container {
    display: flex;
    /*возможно при добавлении картинок сломается блок*/
    flex-direction: column;

    width: 1200px;

    padding-top: 94px;
    padding-left: 15px;
    padding-bottom: 94px;
    padding-right: 15px;

}

.advantages-container {
    display: flex;
    justify-content: space-between;

    padding-left: 0px;
    padding-right: 0px;
}

.creation-box {
    display: flex;
    justify-content: center;

    width: 1600px;
}

.creation-container {
    display: flex;
    /*возможно при добавлении картинок сломается блок*/
    flex-direction: column;


    width: 1200px;

    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;
}

.development-container {
    display: flex;
    justify-content: space-between;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

}

.development-item {
    width: 370px;
    height: 370px;
}

.team-box {
    display: flex;
    justify-content: center;
    width: 1600px;
    background-color: #F5F4FA;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #F5F4FA;

    width: 1600px;

    padding-top: 94px;
    padding-right: 0px;
    padding-bottom: 94px;
    padding-left: 0px;
}

.person-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;

    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;

    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.footer-box {
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;

    width: 1600px;
    background-color: var(--footer-background-color);

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.footer-item {
    display: flex;
    flex-direction: column;

    width: 1200px;

    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 0px;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.adress-container {
    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/*flex construction portfolio-page*/

.portfolio-box {
    display: flex;
    justify-content: center;

    width: 1600px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;

    margin-bottom: 79px;
}

.filter-container {
    display: flex;
    justify-content: center;

    padding-top: 70px;
    padding-right: 15px;
    padding-bottom: 35px;
    padding-left: 15px;

}
.project-container {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    padding-left: 0px;
}

.project-item {

    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    /*не работает*/
    border-color: #EEEEEE;
    border: 1px;
}

/*загальні text-color-fonts*/

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--main-background-color);  
}

a, 
.body-nomaker-ul ul {
    list-style-type: none;
    text-decoration: none;
}

/*--логотип*/
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-brand-color {
    color: var(--brand-color);
}

.logo-studio {
    color: var(--brand-color-studio);
}

.logo-studio-footer {
    color: var(--brand-color-footer);
}

/*--посилання*/
.links-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.links-nav.current,
.links-nav:hover, 
.links-nav:focus,
.links-contact:hover,
.links-contact:focus,
.links-footer-contact:hover,
.links-footer-contact:focus {
    color: var(--brand-color)
}

.links-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.links-footer-addres {
    font-style: normal;
    line-height: 1.71;
    color: var(--additional-text-color)
}

.links-footer-contact {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

/*--додаткова стилізація футера*/
footer {
    background-color: var(--footer-background-color)
}

/*головна сторінка*/
.main-hero {
    background-color: #2F303A;
}

.main-h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--additional-text-color)
}

.button-hero {

    padding-top: 10px;
    padding-right: 32px;
    padding-left: 10px;
    padding-left: 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    vertical-align: bottom;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: #FFFFFF;   
}

.visaully-hidden {
    visibility: hidden;
}

.main-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
}

.main-description {
    line-height: 1.71;
    color: var(--primery-text-color);
}


.section-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.person {
    background-color: var(--main-background-color);
}

/*не работает*/
.person-container.person {
border-radius: 0px, 0px, 4px, 4px;
}

.person-name {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 10px;
}

.person-tasks {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primery-text-color);

    padding-bottom: 30px;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/*портфоліо сторінка*/
.portfolio-filter {
    display: inline;

    margin-right: 4px;
    margin-left: 4px;
}
.button-portfolio {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--main-text-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--brand-color);
    color: #FFFFFF;
}

.project-section {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

.project-name {
    display: block;

    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    margin-top: 20px;
    margin-right: 24px;
    margin-bottom: 4px;
    margin-left: 24px;
}

.project-type {
    display: block;

    font-size: 16px;
    line-height: 1.88;
    color: var(--primery-text-color);

    margin-top: 0px;
    margin-right: 24px;
    margin-bottom: 20px;
    margin-left: 24px;
}
