:root {
--main-text-color: color: #212121;
--primery-text-color: #757575;
--additional-text-color: #FFFFFF;
--brand-color: #2196F3;
--brand-color-studio: #000000;
--brand-color-footer: #FFFFFF;
--main-background-color: #FFFFFF;
--footer-background-color: #2F303A;
}

/*загальні*/
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--main-background-color);  
}

a, 
.body-nomaker-ul ul {
    list-style-type: none;
    text-decoration: none;
}

/*логотип*/
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-brand-color {
    color: var(--brand-color);
}

.logo-studio {
    color: var(--brand-color-studio);
}

.logo-studio-footer {
    color: var(--brand-color-footer);
}

/*посилання*/
.links-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.links-nav.current,
.links-nav:hover, 
.links-nav:focus,
.links-contact:hover,
.links-contact:focus,
.links-footer-contact:hover,
.links-footer-contact:focus {
    color: var(--brand-color)
}

.links-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.links-footer-addres {
    font-style: normal;
    line-height: 1.71;
    color: var(--additional-text-color)
}

.links-footer-contact {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

/*додаткова стилізація футера*/
footer {
    background-color: var(--footer-background-color)
}

/*головна сторінка*/
.main-hero {
    background-color: #2F303A;
}

.main-h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--additional-text-color)
}

.button-hero {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    vertical-align: bottom;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: #FFFFFF;   
}

.visaully-hidden {
    visibility: hidden;
}

.main-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
}

.main-description {
    line-height: 1.71;
    color: var(--primery-text-color);
}

.team {
    background-color: #F5F4FA;
}

.section-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.person {
    background-color: var(--main-background-color);
}

.person-name {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.person-tasks {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primery-text-color);
}

/*портфоліо*/
.portfolio-filter {
    display: inline;
}
.button-portfolio {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--main-text-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--brand-color);
    color: #FFFFFF;
}

.project-section {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

.project-name {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primery-text-color);
}